/* You can add global styles to this file, and also import other style files */

:root{
    --accent-color: #196FAA;

    --light-grey: rgb(165, 165, 165);

    --dark-grey: rgb(108, 108, 108);
}

body{
    margin: 0;
    width:100%;
    color: white;
}



 .footer{
    background-color: var(--light-grey);
 }


 .center{
    margin: 0 auto;
 }

 .textnowrap{
    text-wrap: nowrap;
 }