/* You can add global styles to this file, and also import other style files */

:root{
    --accent-color: #4f8884;

    --light-grey: rgb(165, 165, 165);

    --dark-grey: rgb(108, 108, 108);
}

body{
    margin: 0;
    width:100%;
    color: black;
    font-family: 'Tahoma', 'Helvetica', 'Times New Roman', Times, serif;
    font-size: large;


}



 .footer{
    background-color: var(--light-grey);
 }


 .center{
    margin: 0 auto;
 }

 .textnowrap{
    text-wrap: nowrap;
 }


 .text-white{
   color: white;
 }

 .paragraphSection{
    background-color: var(--light-grey);
    margin: auto;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.backgroundWhite{
    background-color: white !important;
    color: black !important;
}
