.main{
    padding-top: 50px;
}



.banner{
    box-sizing: content-box;
    border: 2px solid var(--accent-color);
    border-radius: 10px;
    display: flex;

    height: fit-content;
    min-height: 200px;
    width: 80%;
    margin: auto;
    column-gap: 25px;

}


.banner div{
    width: 75%;
    height: fit-content
}

.padding{
    padding: 10px;
    text-align: center;
}



@media (max-width: 768px)
{
    .banner{
        flex-direction: column;
        align-items: center;
    }
    .banner img {
        width: 50%;
        height: auto;
        margin-top: 10px;
    }

    .banner img{
        margin-top: 10px;
        width: 50%;
        height: auto;
        align-self: center;
        border-radius: 10px;

    
    }
}

@media (min-width: 769px)
{
    .banner{
        flex-direction: row;
        max-height: 200px;
    }
    
    .banner img{
        margin: 10px;
        width: 25%;
        height: auto;
        overflow: hidden;
        max-height: 100%;
        border-radius: 10px;
        align-self: center;

    
    }
}

@media (min-width: 1440px)
{
    .banner img{
        overflow: hidden;
        margin: 0;
        width: 300px;
    }
}


