.main{
    padding-top: 50px;
}


.banner{
    border: 2px solid var(--light-grey);
    border-radius: 10px;
    display: flex;

    max-height: 200px;
    height: fit-content;

    width: 80%;
    margin: auto;
    column-gap: 25px;

}

.banner img {
    display: block;
    width: 25%;
}

.banner div{
    width: 75%;
}



.padding{
    padding: 10px;
}

